/* 
0.	SETTING IT UP
	0a.	Mixins
	0b. Functions
	0c. Variables
	0d. Reset
	0e. Base Styles
	0f. Modifiers

1.	TYPOGRAPHY
	1a. Typography for light theme
	1c. Typography for dark theme

2.	ADVERTISEMENT BOX

3.	HOMEPAGE
	3a. DEFAULT POST CLASSES
	3b. FULL WIDTH VIDEO
	3c. CAROUSEL STYLE
	3d. FEATURED VIDEOS

4.	POST PAGE
	4a. RECOMMENDED POSTS SIDEBAR
	4b. POST PAGE COMMON STYLE
	4c. CAROUSEL

5.	WIDGET STYLE
*/


// 
// === 0. SETTING IT UP ===
//


/* 
 * 0a. Mixins
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

// Single side border-radius
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}


/* 
 * 0b. Functions
 */

 // unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2==false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint,
  $font-size in $font-size-map {
    @if $breakpoint==null {
      font-size: em($font-size);
    }
    @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
      }
    }
  }
}


/* 
 * 0c. Variables
 */

$sans-serif: 'Poppins', sans-serif; 
$serif: 'serif';

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$primary-color: #967F64;
$secondary-color: #ce9d6f !important;
$loud-color: #000;
$border-color: #000;

$background-color: white;
$featured-section-color: darken($background-color, 5%);
$post-section-color: $background-color;
$base-color: #000;
$dark-color: #fff;

$base-color-25: lighten($base-color, 33%);
$base-color-50: lighten($base-color, 50%);
$base-color-75: lighten($base-color, 75%);
$base-color-100: lighten($base-color, 100%);

// base colour scheme
$base-text-color: #000;
$secondary-base-text-color: lighten($base-text-color, 50%);
$base-heading-color: #000;

$link-color: #000;
$link-hover-color: lighten($link-color, 40%);
$link-visited-color: $link-color;

// dark colour scheme
$dark-text-color: $dark-color;
$dark-heading-color: $dark-color;

$dark-link-color: #fff;
$dark-link-hover-color: darken($dark-link-color, 40%);
$dark-link-visited-color: $dark-link-color;

$base-font-family: $sans-serif;
$base-font-weight: $normal;

$heading-font-family: $sans-serif;
$heading-font-weight: $light;

$sub-heading-font-family: $sans-serif;

// site container maximum width
$max-width: 1300px;

// breakpoint variables
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;


// typography scale
$browser-context: 16px;
$base-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 50px);
$h2-font-size: (null: 41.887px);
$h3-font-size: (null: 30.902px);
$h4-font-size: (null: 25.888px);
$h5-font-size: (null: 19.099px);
$h6-font-size: (null: 16px);

$footer-push: 50px;


/* 
 * 0d. Reset
 */

html, body {
  height: 100%;
}
/* Opera Footer Fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.wrap { 
  min-height: 100%; 
  @include media-breakpoint-down(md){
    margin-top: 59px;
  }
}
.main { padding: 0 !important; }

.global__list-reset{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    margin: 0;
  }
}
.container{
   width: 100%;
  @include media-breakpoint-up(lg) { 
    max-width: $max-width;
  }
}

// Reset gutters

// 40px gutter
.gutter-40.row {
  margin-right: -20px;
  margin-left: -20px;
}
.gutter-40>[class*="col-"],
.gutter-40>[class*=" col-"] {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

// 30px gutter
.gutter-30.row {
  margin-right: -15px;
  margin-left: -15px;
}
.gutter-30>[class*="col-"],
.gutter-30>[class*=" col-"] {
  padding-right: 15px !important;
  padding-left: 15px !important;
} 

// 25px gutter
.gutter-20.row {
  margin-right: -12.5px;
  margin-left: -12.5px;
}
.gutter-20>[class*="col-"],
.gutter-20>[class*=" col-"] {
  padding-right: 12.5px !important;
  padding-left: 12.5px !important;
} 


// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20>[class*="col-"],
.gutter-20>[class*=" col-"] {
  padding-right: 10px !important;
  padding-left: 10px !important;
} 

// 15px gutter
.gutter-15.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.gutter-15>[class*="col-"],
.gutter-15>[class*=" col-"] {
  padding-right: 7.5px !important;
  padding-left: 7.5px !important;
}

// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10>[class*="col-"],
.gutter-10>[class*=" col-"] {
  padding-right: 5px !important;
  padding-left: 5px !important;
} 

// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0>[class*="col-"],
.gutter-0>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


/* 
 * 0e. Media Query
 */

.maxWidth {
  margin: auto;
}

/* Small Devices, Mobiles */

@media (max-width:767px) {
  header .logo {
    display: inline-block;
    text-align: center;
    padding: 15px 0;
  }
  .search-bar-container {
    margin-bottom: 20px;
  }
  .blog-post {
    margin: auto;
  }
}

/* Small Devices, Tablets */

@media (min-width:768px) {}


/* Medium Devices, Desktops */

@media (min-width:992px) {}


/* Large Devices, Larger Desktops */

@media (min-width:1200px) {
  .home-content .container {
    max-width: 1360px;
  }
}


/* 
 * 0f. Base Styles
 */

html {
  line-height: 1.2;
  @include font-size-map($base-font-size);
  margin-top: 0 !important;
}

body {
  background-color: $background-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}


/*
 * 0f. Modifiers
 */

.left { 
  float: left;
}
.right { 
  float: right; 
}

.clear { 
  clear: both; 
}


// 
// === 1. TYPOGRAPHY ===
//


/* 
 * 1a. Typography for light theme
 */

.link {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:visited:hover {
    color: $link-hover-color;
  }
}

.loud {
  color: $loud-color;
}

.italic {
  font-style: italic;
  font-family: $serif;
}

.light {
  font-weight: $light;
}
.bold {
  font-weight: $bold;
}
.semibold {
  font-weight: $semibold;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.box {
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: Oswald !important;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0;
}
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 {
  @include font-size-map($h1-font-size);
}

.h2 {
  @include font-size-map($h2-font-size);
}

.h3 {
  @include font-size-map($h3-font-size);
}

.h4 {
  @include font-size-map($h4-font-size);
}

.h5 {
  @include font-size-map($h5-font-size);
}

.h6 {
  @include font-size-map($h6-font-size);
}

.block-margins { margin: 1em 0; }
.block-paddings {
  padding: 0 20px;
  @include media-breakpoint-up(md) { 
    padding: 0 60px;
  }
}

.b-posts-section, .featured-section, .ad-box { margin: auto; }
.b-posts-section { @extend .block-paddings; }

.b-posts-section { 
  margin: 20px 0 20px; 
  @include media-breakpoint-up(md) { 
    margin: 60px 0 30px; 
    background: $post-section-color;
  }
}
.featured-section { 
  background: $featured-section-color;
}

a {
  @extend .link;
}

i,em {
  @extend .italic;
}
b,strong {
  @extend .bold;
}

h1 {
  @extend .h1;
  margin: 0 auto 0.5em;
}

h2 {
  @extend .uppercase;
  @extend .h3;
  @extend .box;
  margin: 0 auto 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 2.5rem;
  }
}
h3 {
  @extend .h4;
  margin: 1em 0 0.5em;
}
h4 {
  @extend .h6;
  margin: 1em 0 0.5em;
}
h5 {
  @extend .h6;
  margin: 1em 0 0.5em;
}
h6 {
  @extend .h6;
  margin: 1em 0 0.5em;
}

ol, pre {
  @extend .block-margins;
}

.with-line {
  h2 { width: auto; }
  span{ background-color: white; padding: 0 1em; }
  @include media-breakpoint-up(md){
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      z-index: 0;
      position: absolute;
      top: 19px;
      left: 0;
      background: black;
    }
  }
}

/* 
 * 1b. Typography for dark theme 
 */

.dark-theme {
  color: $dark-text-color !important;

  .h1,.h2,.h3,.h4,.h5,.h6 {
    color: $dark-heading-color;
  }

  a {
    color: $dark-link-color;

    &:visited {
      color: $dark-link-visited-color;
    }

    &:hover,
    &:visited:hover {
      color: $dark-link-hover-color;
    }
  }
}


// 
// === 2. ADVERTISEMENTS ===
//

.ad-box {
	width: 100%;
  padding: 1.5em 3em;
	background: $featured-section-color;

}
.ad-box img {
	margin: auto !important;
}

// 
// === 5. THUMBNAILS ===
//

.img { max-width: 120%; }
.video_lightbox_anchor_image { max-width: 115%; }

.b-post__thumb, .featured-video__thumb {
  height: 0;
  overflow: hidden;
  position: relative;
}
.b-post__thumb {
  padding-top: 100%;
  @include media-breakpoint-up(md){ padding-top: 66.66666667%; }
}
.featured-video__thumb { padding-top: 66.66666667%; }

.featured-video__overlay {
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.b-post__thumb .img, .video_lightbox_anchor_image {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  height: auto;
}
.transition {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


// 
// === 6. BLOG POSTS // B-POST  ===
//

/* Sidebar */
.b-posts__sidebar { padding-left: 50px; }
.b-posts__sidebar img {  float: right; }

/* Posts */
.b-posts-list__item {
  @include media-breakpoint-down(sm) {  
    margin: 10px 0 !important;
    &:first-child .b-post { padding-top: 0 !important; border: 0 !important; }
  }
  @include media-breakpoint-up(md) {  margin-bottom: 30px !important; }
}

.b-post {  
  position: relative; 
  @include media-breakpoint-down(sm) { 
  border-top: 1px solid #ccc; 
  padding-top: 20px;
  }
}

.b-post__link--article{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.b-post__obj__header {
  @include media-breakpoint-down(sm) { padding-right: 9px; }
}
.b-post__obj__body { 
  @include media-breakpoint-down(sm) { padding-left: 9px; }
  @include media-breakpoint-up(md) { padding-top: 14px; }
}

.b-post__post-title { 
  font-weight: $bold; 
  margin: 8px 0 11px;
  color: #333333;
  @include media-breakpoint-up(md) { margin-top: 4px; font-size: 0.9em;} 
  @include media-breakpoint-down(sm) { font-size: 1em; }
}
.b-post__meta {
  color: $secondary-base-text-color; 
  li { display: block; float: left; } 
}
.b-post__meta__header {
  li:not(:first-child):before { 
    content: "";
    background: $secondary-base-text-color; 
    margin: 1px 8px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
  }
}
.b-post__meta__footer {
  display: inline-block;
  li:not(:first-child) { padding-left: 8px; border-left: 1px solid #ddd; }
  li:not(:last-child) { padding-right: 8px; }  
  @include media-breakpoint-up(md){
  padding-top:7px;
  margin-top:7px;
  border-top: 1px solid #ddd;
  }
}
.b-post__meta-item { font-size: 0.60em; }
.b-post__meta-item--post-cat { 
  color: $primary-color !important; 
  text-transform: uppercase;
  font-weight: $semibold;
  letter-spacing: 1px;
}

.b-post__thumb--icon {
  position: absolute;
  bottom: 0;
  background-color: $primary-color;
  height: 1.9rem;
  width: 1.9rem;
}
.b-post__thumb--icon span {
  line-height:1.9rem;
  font-size: 0.8em;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.b-post__thumb { opacity: 1; }

.b-post * { @extend .transition; }
.b-post:hover { 
  .b-post__thumb { opacity: 0.8; }
  .b-post__thumb .img { transform: scale(1.1,1.1); }
  .b-post__post-title { color: #999; }
}

// 
// === 7. FEATURED VIDEOS ===
//
.featured-section{
  position: relative;
  @include media-breakpoint-down(sm){
    padding: 20px 0;
  }
}
.featured-section .header-block{
  @include media-breakpoint-up(md){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  h2 {
    width: 100%;
    padding: 0.5em;
    background: #967f64;
    color: #fff;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    @include media-breakpoint-up(md) {
      width: fit-content;    
    }
  }
}

.featured-video {
  position: relative;
  padding: 0;
  @include media-breakpoint-down(md) {
    &:first-child{
      margin-bottom: 20px;
    }
  }
}
// .featured-video:first-child { padding-right: 1px; }
// .featured-video:last-child { padding-left: 1px; }

.featured-video__thumb { display: block; }

.featured-video__overlay, .video_lightbox_anchor_image {
  @extend .transition;
}
.featured-video__overlay {
 // background: rgba(0, 0, 0, 0.4);
}

.featured-video__thumb:hover .video_lightbox_anchor_image {
  transform: scale(1.1,1.1);
  filter: grayscale(0);
}

.featured-video__overlay__content {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  width: 100%;
  background: #000000;
  padding: 10px;
  font-size: 80%;
  }

.featured-video__title-wrap{
  width: auto;
  box-sizing: border-box;
  height: 4.8em;
  text-align: center;
}
.featured-video__title { 
  font-size: 2em;
  margin: 0; 
  padding:0 0 0.2em; 
  font-family: oswald;
  color: #ffffff !important; 
}
.featured-video__icon {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.9em;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: $primary-color;
  box-sizing: border-box;
}
.featured-video__byline { 
  margin: 0; 
  @extend .light;
  text-transform: uppercase;
  display: inline-block;
  color: $primary-color;
  letter-spacing: 1px;
  font-size: 0.9em;
}
.featured-video__byline:before {
  content: '';
  display: block;
  margin:auto;
  height: 1px;
  width: 0;
  margin-bottom: 3px; 
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.featured-video__thumb:hover .featured-video__byline:before {
  width: 100%;
  background: $primary-color;
}



/* ============================================== ####### 8. POST PAGE ####### ============================================= */


/*  =======================================
		8a. RECOMMENDED POSTS SIDEBAR
	=======================================
*/

#posts-sidebar {
  color: #fff;
  background: #333;
  height: 468px;
  overflow: hidden;
}

.psb-head {
  margin-bottom: 15px;
  padding: 20px 20px 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.yarpp-related-widget ol {
  height: 440px;
  overflow: auto;
  scrollbar-base-color: gold;
  padding: 0 20px;
  margin: 0;
}

.yarpp-related-widget ol li {
  list-style: none;
  display: block;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #555;
}

.yarpp-related-widget ol li:last-child {
  border-bottom: 0;
  margin-bottom: 15px;
}

.rp-title {
  margin: 0;
  font-size: 13px;
  font-weight: 100;
}

.publisher-anchor-color a {
  color: #000 !important;
}

.yarpp-related-widget ol li h3 a {
  font-weight: 700;
}

.yarpp-related-widget ol li h3 a:hover {
  color: $secondary-color;
  text-decoration: none;
}

.rpthumb {
  float: left;
  width: 90px;
  height: 60px;
  overflow: hidden;
  margin: 0 15px 0 0;
  position: relative;
}

.yarpp-related-widget ol li img {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

.yarpp-related-widget ol li time.updated {
  color: #666666;
  font-size: 10px;
}

#pagination {
  background-color: #000;
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-numbers {
  display: inline-block;
  padding: 15px 25px;
  width: auto;
  margin: 0 !important;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.page-numbers.current {
  border: 2px solid white;

}
a.page-numbers:hover {
    text-decoration: none;
    -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);   
}


/* ========================================
				8b. VIDEO POST 
   ========================================
*/

#video-strip {
  background-color: #000;
}

.kgvid_wrapper {
  margin: 0 !important;
}


/*  =======================================
		8c. POST PAGE COMMON STYLE
	=======================================
*/

.post-page--title h2 {
  font-size: 30px;
  color: #000;
  font-weight: normal;
  width: 100%;
}

.post-info {
  padding-bottom: 0.5rem;
}

.post-info p {
  margin: 1rem 0 !important;
  font-size: 14px;
  color: #000;
}

ul.post-meta {
  height: 60px;
  margin-bottom: 1rem !important;
  border-bottom: 1px solid #dddddd;
}

ul.post-meta li {
  display: inline-block;
  float: left;
  text-decoration: none;
  height: auto;
}

ul.post-meta li:first-child p:before {
  content: "";
}

ul.post-meta li p::before {
  content: "\00a0 | ";
  color: #777;
  font-weight: 100;
  font-size: 16px;
}

ul.post-meta::after {
  clear: both;
}

.post-page--time {
  color: #888;
}

.description p {
  font-weight: 300;
  font-size: 16px !important;
  color: #000 !important;
}


/*  ============================================
		9. 			WIDGET STYLE
	============================================
*/

.widget_text {
  list-style: none;
  clear: both;
}
