/* 
0.	SETTING IT UP
	0a.	Mixins
	0b. Functions
	0c. Variables
	0d. Reset
	0e. Base Styles
	0f. Modifiers

1.	TYPOGRAPHY
	1a. Typography for light theme
	1c. Typography for dark theme

2.	ADVERTISEMENT BOX

3.	HOMEPAGE
	3a. DEFAULT POST CLASSES
	3b. FULL WIDTH VIDEO
	3c. CAROUSEL STYLE
	3d. FEATURED VIDEOS

4.	POST PAGE
	4a. RECOMMENDED POSTS SIDEBAR
	4b. POST PAGE COMMON STYLE
	4c. CAROUSEL

5.	WIDGET STYLE
*/


// 
// === 0. SETTING IT UP ===
//


/* 
 * 0a. Mixins
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

// Single side border-radius
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}


/* 
 * 0b. Functions
 */

 // unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2==false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint,
  $font-size in $font-size-map {
    @if $breakpoint==null {
      font-size: em($font-size);
    }
    @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
      }
    }
  }
}


/* 
 * 0c. Variables
 */

$sans-serif: 'Poppins', sans-serif; 
$serif: 'serif';

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$primary-color: #967F64;
$secondary-color: #ce9d6f !important;
$loud-color: #000000;
$border-color: #000000;

$background-color: white;
$featured-section-color: darken($background-color, 5%);
$post-section-color: $background-color;
$base-color: #000000;
$dark-color: #ffffff;

$base-color-25: lighten($base-color, 33%);
$base-color-50: lighten($base-color, 50%);
$base-color-75: lighten($base-color, 75%);
$base-color-100: lighten($base-color, 100%);

// base colour scheme
$base-text-color: #000000;
$secondary-base-text-color: lighten($base-text-color, 50%);
$base-heading-color: #000000;

$link-color: $primary-color;
$link-hover-color: lighten($link-color, 40%);
$link-visited-color: $link-color;

// dark colour scheme
$dark-text-color: $dark-color;
$dark-heading-color: $dark-color;

$dark-link-color: #ffffff;
$dark-link-hover-color: darken($dark-link-color, 40%);
$dark-link-visited-color: $dark-link-color;

$base-font-family: $sans-serif;
$base-font-weight: $light;

$heading-font-family: $sans-serif;
$heading-font-weight: $light;

$sub-heading-font-family: $sans-serif;

// site container maximum width
$max-width: 1560px;

// breakpoint variables
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;


// typography scale
$browser-context: 16px;
$base-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 50px);
$h2-font-size: (null: 42px);
$h3-font-size: (null: 31px);
$h4-font-size: (null: 26px);
$h5-font-size: (null: 19px);
$h6-font-size: (null: 16px);

$footer-push: 50px;

/* 
 * 0d. Reset
 */

html, body {
  height: 100%;
}
/* Opera Footer Fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
.wrap { 
  min-height: 100%; 
  @include media-breakpoint-down(md){ margin-top: 59px; }
}
.main { 
  padding: 0 !important; 
}
.global__list-reset {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }
}
.f-video-section, .post-links-section, .trending-stories, .ad__block {
  @include media-breakpoint-up(xl) { 
    max-width: $max-width;
    margin: auto;
  }
}
.container-fluid {
   width: 100%;
}

// CUSTOM BOOTSTRAP GUTTERS

// 40px gutter
.gutter-40.row {
  margin-right: -20px;
  margin-left: -20px;
}
.gutter-40>[class*="col-"],
.gutter-40>[class*=" col-"] {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

// 30px gutter
.gutter-30.row {
  margin-right: -15px;
  margin-left: -15px;
}
.gutter-30>[class*="col-"],
.gutter-30>[class*=" col-"] {
  padding-right: 15px !important;
  padding-left: 15px !important;
} 

// 25px gutter
.gutter-20.row {
  margin-right: -12.5px;
  margin-left: -12.5px;
}
.gutter-20>[class*="col-"],
.gutter-20>[class*=" col-"] {
  padding-right: 12.5px !important;
  padding-left: 12.5px !important;
} 

// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20>[class*="col-"],
.gutter-20>[class*=" col-"] {
  padding-right: 10px !important;
  padding-left: 10px !important;
} 

// 15px gutter
.gutter-15.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.gutter-15>[class*="col-"],
.gutter-15>[class*=" col-"] {
  padding-right: 7.5px !important;
  padding-left: 7.5px !important;
}

// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10>[class*="col-"],
.gutter-10>[class*=" col-"] {
  padding-right: 5px !important;
  padding-left: 5px !important;
} 

// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0>[class*="col-"],
.gutter-0>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* 
 * 0f. Base Styles
 */

html {
  line-height: 1.2;
  @include font-size-map($base-font-size);
  margin-top: 0 !important;
}

body {
  background-color: $background-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}


/*
 * 0f. Modifiers
 */

.left { 
  float: left;
}
.right { 
  float: right; 
}
.clear { 
  clear: both; 
}


// 
// === 1. TYPOGRAPHY ===
//


/* 
 * 1a. Typography for light theme
 */

.link {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:visited:hover {
    color: $link-hover-color;
  }
}

.loud {
  color: $loud-color;
}
.italic {
  font-style: italic;
  font-family: $serif;
}

.light {
  font-weight: $light;
}
.bold {
  font-weight: $bold;
}
.semibold {
  font-weight: $semibold;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0;
}
.h1 {
  @include font-size-map($h1-font-size);
}

.h2 {
  @include font-size-map($h2-font-size);
}

.h3 {
  @include font-size-map($h3-font-size);
}

.h4 {
  @include font-size-map($h4-font-size);
}

.h5 {
  @include font-size-map($h5-font-size);
}

.h6 {
  @include font-size-map($h6-font-size);
}
a {
  @extend .link;
}

i,em {
  @extend .italic;
}
b,strong {
  @extend .bold;
}

h1 {
  @extend .h1;
  margin: 0 auto 0.5em;
}

h2 {
  @extend .h3;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: Oswald !important;
  margin: 0 auto 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 2.5rem;
  }
}
h3 {
  @extend .h4;
  margin: 1em 0 0.5em;
}
h4 {
  @extend .h6;
  margin: 1em 0 0.5em;
}
h5 {
  @extend .h6;
  margin: 1em 0 0.5em;
}
h6 {
  @extend .h6;
  margin: 1em 0 0.5em;
}
ol, pre {
  margin: 1em 0;
}
.highlight{
  color: $primary-color;
}
/* 
 * 1b. Typography for dark theme 
 */

.dark-theme {
  color: $dark-text-color !important;

  .h1,.h2,.h3,.h4,.h5,.h6 {
    color: $dark-heading-color;
  }

  a {
    color: $dark-link-color;

    &:visited {
      color: $dark-link-visited-color;
    }

    &:hover,
    &:visited:hover {
      color: $dark-link-hover-color;
    }
  }
}


// 
// === 2. ADVERTISEMENTS ===
//

.ad__block {
	width: 100%;
  padding: 20px 60px;
	background: $featured-section-color;

}
.ad__block img {
	margin: auto !important;
  height: 250px;
}

// 
// === 3. THUMBNAILS ===
//

.img { max-width: 120%; }
.video_lightbox_anchor_image { max-width: 115%; }

.b-post__thumb, .f-video__thumb {
  height: 0;
  overflow: hidden;
  position: relative;
}
.b-post__thumb {
  padding-top: 100%;
  @include media-breakpoint-up(md){ padding-top: 66.66666667%; }
  margin-bottom: 16px;
}
.f-video__thumb { padding-top: 66.66666667%; }

.f-video__overlay {
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.b-post__thumb .img, .video_lightbox_anchor_image {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  height: auto;
}
.transition {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


// 
// === 4. HOME PAGE  ===
//

.f-posts-section {
  padding: 0 60px;
  margin: 30px 0 0;
}
.f-posts-section__wrapper {
  padding: 40px;
  background-color: #f2f2f2;
}
.f-posts-section__title {
  font-family: oswald;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

}
.f-posts-section__title span {
  color: $primary-color;
}
.f-posts-section .b-posts-list__item {
  margin-bottom: 0 !important;
}
/* ==============================================
                4a. POST LINKS
============================================== */

/* Sidebar */
.post-links-section__sidebar { padding-left: 50px; }
.post-links-section__sidebar img {  float: right; }

/* Posts */
.post-links-section { 
  padding: 0 60px;
  margin-top: 60px;
  margin-bottom: 30px; 
  @include media-breakpoint-down(sm) { 
    background: $post-section-color;
    padding: 0 20px;
    margin: 20px 0 20px;
  }
}
.f-posts-section+.post-links-section {
  margin-top: 40px !important;
}
.post-links-section__title {
  font-family: oswald;
  position: relative;
  margin-bottom: 25px;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  > span { 
    background-color: #ffffff; 
    padding: 0 15px 0 0;
  }
  @include media-breakpoint-up(md) {
    &:before {
      content: "";
      height: 1px;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      margin-top: -9px;
      background: #000000;
      z-index: -1;
    }
  }  
}
.b-posts-list__item {
  @include media-breakpoint-down(sm) {  
    margin: 10px 0 !important;
    &:first-child .b-post { padding-top: 0 !important; border: 0 !important; }
  }
  @include media-breakpoint-up(md) {  margin-bottom: 50px !important; }
}

.b-post {  
  position: relative; 
  @include media-breakpoint-down(sm) { 
  border-top: 1px solid #cccccc; 
  padding-top: 20px;
  }
}

.b-post__link--article{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.b-post__obj__header {
  @include media-breakpoint-down(sm) { padding-right: 9px; }
}
.b-post__obj__body { 
  @include media-breakpoint-down(sm) { padding-left: 9px; }
}

.b-post__title { 
  color: #333333;
  font-weight: 600;
  font-size: 17px; font-size: 1.0625rem;
  line-height: 1.4rem;
  margin: 0 0 13px;
}
.b-post__meta {
  font-size: 10px; font-size: 0.625rem; 
  color: #666;
  font-weight: 400;

  li { 
    display: block; 
    float: left; 
    border-left: 1px solid #ccc;
    margin-right: 8px;
    padding-left: 8px;
    letter-spacing: 0.5px;
  } 
  li:first-child { 
    padding-left: 0;
    border: 0;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.b-post__meta__footer {
  display: inline-block;
  li:not(:first-child) { padding-left: 8px; border-left: 1px solid #ddd; }
  li:not(:last-child) { padding-right: 8px; }  
  @include media-breakpoint-up(md){
  padding-top:7px;
  margin-top:7px;
  border-top: 1px solid #dddddd;
  }
}
.b-post__meta-item--cat { 
  color: $primary-color !important; 
  letter-spacing: 1px !important;
}
.b-post__thumb--icon {
  position: absolute;
  bottom: 0;
  background-color: $primary-color;
  height: 2.1rem;
  width: 2.1rem;
}
.b-post__thumb--icon span {
  line-height:2.1rem;
  font-size: 1rem;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.b-post__thumb { opacity: 1; }

.b-post * { @extend .transition; }

.b-post:hover { 
  .b-post__thumb { opacity: 0.8; }
  .b-post__title { color: #999999; }
}

#pagination {
  background-color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-numbers {
  display: inline-block;
  padding: 15px 25px;
  width: auto;
  margin: 0 !important;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.page-numbers.current {
  border: 2px solid white;

}
a.page-numbers:hover {
    text-decoration: none;
    -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);   
}


/* ==============================================
              4b. FEATURED VIDEOS
============================================== */

.f-video-section{
  background: $featured-section-color;
  padding-bottom: 30px;
  @include media-breakpoint-down(sm){
    padding: 20px 0;
  }
}
.f-video-section .header-block{
  @include media-breakpoint-up(md){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  h2 {
    width: 100%;
    padding: 0.5em;
    background: #967f64;
    color: #fff;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    @include media-breakpoint-up(md) {
      width: fit-content;    
    }
  }
}
.f-video-section {
  position: relative;
  padding: 0;
  @include media-breakpoint-down(md) {
    &:first-child{
      margin-bottom: 20px;
    }
  }
}

.f-video__thumb { display: block; }

.f-video__overlay, .video_lightbox_anchor_image {
  @extend .transition;
}

.f-video__overlay__header {
  position: absolute;
  top: 10px;
  left: 10px;
}
.f-video__tag {
  background: rgba(150, 127, 100, 0.7);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.7);
  padding: 7px 7px;
  border-radius: 5px;
}
.f-video__tag p {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.f-video__overlay__footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: #000000;
  padding: 10px;
  font-size: 80%;
  }

.f-video__title-wrap{
  width: auto;
  box-sizing: border-box;
  height: 4.8em;
  text-align: center;
}
.f-video__title { 
  font-size: 2em;
  margin: 0; 
  padding:0 0 0.2em; 
  font-family: oswald;
  color: #ffffff !important; 
}
.f-video__icon {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.9em;
  border-radius: 50%;
  text-align: center;
  color: $primary-color;
  border: 1px solid $primary-color;
  background: #000000;
  box-sizing: border-box;
  transition: all 500ms ease;
}
.f-video__icon span{
  margin-left: 4px;
}
.f-video__byline { 
  margin: 0; 
  @extend .light;
  text-transform: uppercase;
  display: inline-block;
  color: $primary-color;
  letter-spacing: 1px;
  font-size: 14px;
  font-size: 0.875em;
}
.f-video__byline:before {
  content: '';
  display: block;
  margin:auto;
  height: 1px;
  width: 0;
  margin-bottom: 3px; 
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.f-video__thumb:hover .f-video__icon {
  background: $primary-color;
  color: #ffffff;
}
.f-video__thumb:hover .f-video__byline:before {
  width: 100%;
  background: $primary-color;
}


// 
// === 6. POSTS PAGE  ===
//

/* ==============================================
				    6a. VIDEO POST PAGE
============================================== */

// VIDEO POST PAGE --- VIDEO PLAYER
.p-video {
  background-color: #000000;
  overflow: hidden;
  position: relative;
}
.p-video__wrapper {
  padding: 0 60px;
}
.p-video__player {
  margin-right: 350px;
}
.kgvid_wrapper {
  margin: 0 !important;
}

// VIDEO PP --- SIDEBAR
.sidebar-related-posts {
  padding: 20px 20px 0 20px;
  color: #ffffff;
  background: #222222;
  overflow: hidden;
  width: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 60px;
}
.sidebar-related-posts__list{
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 20px;
  left: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.sidebar-related-posts__title {
  margin: 0;
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-family: Poppins !important;
  text-align: left;
  letter-spacing: 1px;
}
.b-post--related {
  border-top: 1px solid #333333;
  padding-top: 20px;
  .b-post__meta {
    color: #555;
    font-size: 10px;
    font-size: 0.6rem;
  }
  .b-post__meta-item{
    border-left-color: #555;
  }
}
.b-post--related .b-post__post-title {
  color: white; 
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: .2px;
  font-weight: 600;
  margin: 0; 
  margin-bottom: 8px;
}
.b-post--related .b-post__obj__body {
  padding-top: 0;
}
.b-posts-list--related-posts .b-posts-list__item {
  margin-top: 20px;
  margin-bottom: 0 !important;
  &:first-child {
    margin-top: 0;
  }
}
.b-posts-list__item:first-child .b-post--related  {
  border: 0;
  padding-top: 0;    
}

// VIDEO POST PAGE --- BODY CONTENT
.p-video__content-body {
  position: relative;
  margin: 0 auto;
}
.p-header {
  margin: 60px 0 32px;
}
.p-body {
  margin: 32px 0 40px;
}
.p-comment {
  margin-bottom: 60px;
}
.p-header__wrapper, .p-body__wrapper, .p-comment__wrapper {
  padding: 0 60px;
}
.p-header__content, .p-body__content, .p-comment__content {
  padding-right: 360px;
}
.p-body__content p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}
.p-header__title {
  font-size: 48px;
  font-size: 3rem;
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;

}
.p-header__views {
  color: #888;
  margin-top: 0; 
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.ssba-wrap {
  margin-bottom: 40px;
}
.ssba {
  margin-left: -3px;
}
.ssba a {
  margin-left: 5px;
}
.ssba a:first-child {
  margin-left: 0;
}
.ssba img {
  width: 30px !important;
  border: 1px solid #ddd !important;
  margin: 0; 
  box-sizing: content-box;
  border-radius: 50%;
}
.p-video__ad{
  position: absolute;
  top: 0px;
  right: 60px;
}

/* ==============================================
            6b. GALLERY POST PAGE
============================================== */

.p-gallery {
  background: #000000;
  overflow: hidden;
  position: relative;
}
.p-gallery__wrapper {
  padding: 0 60px;
}
.post-title{
  margin: 1.5rem 0 1rem;
}
#slider {
  margin-right: 350px;
  img{
    max-height: 600px;
    margin: auto;
  }
}

/* ==============================================
            6c. COMMON POST PAGE
============================================== */
.navbutton {
  color: $primary-color;
  position: absolute;
  top: 0;
  text-align: center;
}
.navbutton a{
  color: $primary-color;
  height: 60px;
  width: 60px;
  line-height: 60px;
  display: block;
}
.navbutton-left{
  left: 0;
  a{
    border-right: 1px solid #333333;
  }
}
.navbutton-right{
  right: 0;
  a{
    border-left: 1px solid #333333;
  }
}
.navbutton a:hover{
  color: #ffffff;
  background-color: $primary-color;
}
.p-nav {
  height: 60px;
  background-color: #000000;
  border-bottom: 1px solid #333333;
  position: relative;
}
.p-nav__wrapper{
  padding: 0 60px;
}
.p-nav__title {
  width: 120px;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 0;
  .text{
    fill: white;
  }
  .rect{
    fill: $primary-color;
  }
}
.p-nav__post-title-wrap{
  position: absolute;
  top: 0;
  padding: 0 10px;
}
.p-nav__post-title-wrap--prev{
  left: 60px; 
}
.p-nav__post-title-wrap--next{
  right: 60px; 
}
.p-nav__post-title{
  color: $primary-color;
  line-height: 60px;
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
}
.p-header__meta {
  margin: 0;
  padding: 0;
}
.p-header__meta li {
  display: block;
  float: left;
  text-decoration: none;
}
.p-header__meta li:not(:first-child):before {
  content: "";
  height: 2px;
  width: 2px;
  background: #888888;
  display:inline-block;
  border-radius: 50%;
  margin: 3px 8px;
}
.p-header__meta-item{
  color: #888;
  margin-bottom: 20px !important;
  font-size: 10px;
  font-size: 0.625rem;
  letter-spacing: 1px;
}
.p-header__meta-item--category {
  letter-spacing: 1px;
}

/* 
=============================================
		          7. WIDGET STYLE
=============================================
*/

.widget_text {
  list-style: none;
  clear: both;
}

/* 
=============================================
              7. FORMS STYLE
=============================================
*/
.submit-content, .contact{
  background-color: #222;
}
.bg{
  min-height: 100%;
  min-width: 100%;
  position: relative;
}
.submit-content .bg::after{
  background:url('../images/alexandre-chambon.jpg');
  background-size: cover;
}
.contact .bg::after{
  background:url('../images/tim-trad.jpg');
  background-size: cover;

}
.bg::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.4;
 // filter: grayscale(1);
}

.content-wrap{
  margin: 20px 0 30px;
}
.card {
  border: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.card-header {
  margin: 0 !important;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 1px solid #333;
  span{
    color: $primary-color;
  }
}
.card-block{
  font-size: 12px;
  p{
    line-height: 1.25rem;
  }
}
.wpcf7
{  
  font-family: $sans-serif;

  label{
    width: 100%;
    margin: 0;
  }
  input, textarea, select{
    border: 0px;
    color: #ffffff;
    background-color: #333;
    padding: 15px;
    margin: 7px 0;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc;
      text-transform: uppercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #ccc;
      text-transform: uppercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #ccc;
      text-transform: uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #ccc;
      text-transform: uppercase;
    }
  }
  select {
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  textarea, input:not([type="submit"]){
    width: 100%;
  }
  input[type="submit"]{
    margin-top: 5px;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    font-size: 16px;
    font-size: 1rem;
  }
  input[type="submit"]:hover,
  input[type="submit"]:focus{
    background-color: $primary-color;
    color: #fff;
  }
}


