
.a-header {
	margin: 40px 0 20px;
	.ssba-wrap{
		margin:15px 0 0 0;
	}
}
.a-header__wrapper {
	padding: 0 60px 0 60px;
}
.a-header__content{
	padding-right: 360px;
}
.a-header__title{
	font-size: 48px;
	font-weight: bold;
	text-align: left;
}
.a-header__tag{
	margin-bottom: 16px;
	padding: 3px 5px;
	font-size: 11px;
	background: $primary-color;
	color: #fff;
	letter-spacing: 2px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}
.a-header__views, .a-header__date{
	margin-bottom: 8px;
	font-size: 11px;
	font-weight: 600;
}
.a-header__views{
	letter-spacing: 1px;
	color: $primary-color;
}
.a-header__seperator{
	margin: 32px 0 24px 0;
}
.a-body{
	position: relative;
	margin: 20px 0 30px;
	padding: 0 60px;
	line-height: 1.7rem;
}
.a-body p{
	font-size: 16px;
}
.a-body__wrapper{
	padding-right: 360px;
}
.a-body__img{
	margin: 40px 0;
}
.a-body__ad{
	position: absolute;
	right: 60px;
	top: 0;
}
.blurb {
	color: #888;
}